# Python cache & compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Python environment & config
*.env
.env.*
*.log

# SQLite databases
*.sqlite3
*.db
db/
!db/.gitkeep  # keep folder structure without the DB file

# Backup files
backups/
!backups/.gitkeep  # keep folder structure without backup content

# Streamlit
.streamlit/
temp_restore.json

# VSCode project settings
.vscode/

# OS system files
.DS_Store
Thumbs.db
