# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.env
*.egg-info/
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Compiled files
*.pyo
*.pyd

# Ignore SQLite DB
db/trading_guide.db
